.sidebar {
    background-color: $color-primary;
    grid-column: side-start / side-end;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    @media only screen and (max-width: $bp-large){
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-end;
        align-items: center;
    }
}
.side-nav {
    border: none;
    border-radius: 0;
    width: 4rem;
    height: .2rem;
    background-color: #fff;
    margin-top: 5rem;
    @media only screen and (max-width: $bp-large){
        margin-top: 0;
        margin-right: 2rem;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        width: 4rem;
        height: .2rem;
        background-color: #fff;
        transition: all .2s;
    }
    &:before {
        transform: translateY(-1rem);
    }
    &:after {
        transform: translateY(.7rem);
    }
    
}
.sidebar:hover .side-nav:after{
    transform: translateY(.8rem);
}
.sidebar:hover .side-nav:before{
    transform: translateY(-1.1rem);
}